{% extends "base-site.html" %} {% block title %} Configure {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<style>


	/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	  padding-left: 10px;
	  margin: 0px;
	}

	/* Hide default HTML checkbox */
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		padding-left: 30px;
		display: inline-block;
		border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.button5 {background-color: #000000;border: none;color: white;} /* Black */
	</style>
<!-- ======= Header tools ======= -->
<div style="display: grid; grid-template-columns: 1fr;">
<div class="card" style="padding: 16px;">
	<div class="header-tools" 
	style="display: grid; padding: 0px 16px; margin: 0 auto; width: 100%;
	justify-content: flex-end; font-size: 20px; color: #278aed">
		[SYSTEM CONFIGURATION]
	</div>
	<div style="font-size: 1rem; color: #fff; margin: 0 auto;
	gap: 10px; border: 0px solid #fff; width: 100%;
	padding: 16px; display: grid; grid-template-columns: 1fr 180px 70px 180px 70px 180px 70px">

	<div class="config-rows" style="grid-row: 1/3;">
		<div class="cols" style="padding: 5px;">
			<label style="padding: 8px 0px; font-size: 1rem; ">Data Package IP</label>
			
			<input type="text" 
			class="form-control"
			id="ip" name="IP_address" value="">
		</div>
	</div>
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem;">TCP COT</label>
			<label class="switch">
				<input type="checkbox" id="TCPCoTOnOffSwitch">
				<span class="slider round"></span></label>
		</div>
	</div>
	<div class="config-rows">
		<div class="cols" style="padding: 5px;">
			<input type="text" 
			class="form-control" style="width: 70px;"
			id="tcp_cot_port" value="">
		</div>
	</div>
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem">HTTP DP</label>
			<label class="switch">
				<input type="checkbox", id="HTTPDPOnOffSwitch">
				<span class="slider round"></span></label>
		</div>
	</div>
	<div class="config-rows"><div class="cols" style="padding: 5px;">
		<input type="text" 
		class="form-control" style="width: 70px;"
		id="http_dp_port"  value="">
	</div>
</div>
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem" >API</label>
			<label class="switch">
				<input type="checkbox", id="APIOnOffSwitch">
				<span class="slider round"></span></label>
		</div>
	</div>
	<div class="config-rows">
		<div class="cols" style="padding: 5px;">
			<input type="text" 
			class="form-control" style="width: 70px;"
			id="api_port"  value="">
		</div>
	</div>

<!-- second row -->

	<!-- <div class="config-rows">
		<div class="cols" style="padding: 5px;">
			<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">Apply</button>
		</div>
	</div> -->
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem">SSL COT</label>
			<label class="switch">
				<input type="checkbox", id="SSLCoTOnOffSwitch">
				<span class="slider round"></span></label>
	</div>
	</div>
	<div class="config-rows">
		<div class="cols" style="padding: 5px;">
			<input type="text" 
			class="form-control" style="width: 70px;"
			id="ssl_cot_port"  value="">
		</div>
	</div>
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem">SSL DP</label>
			<label class="switch">
				<input type="checkbox", id="SSLDPOnOffSwitch">
				<span class="slider round"></span></label>
		</div>
	</div>
	<div class="config-rows"><div class="cols" style="padding: 5px;">
		<input type="text" 
		class="form-control" style="width: 70px;"
		id="ssl_dp_port"  value="">
	</div></div>
	<div class="config-rows">
		<div style="display: flex;justify-content: center;
		align-items: center;">
			<label style="padding: 0px 5px; font-size: 1rem">FED</label>
			<label class="switch">
				<input type="checkbox", id="FEDOnOffSwitch">
				<span class="slider round"></span></label>
		</div>
	</div>
	<div class="config-rows">
		<div class="cols" style="padding: 5px;">
			<input type="text" 
			class="form-control" style="width: 70px;"
			id="fed_port"  value="">
		</div>
	</div>


	</div>
	<div  style="padding: 16px; text-align: right;">
		<button class="btn btn-simple btn-twitter" onclick="applyServiceInfo()"
		style="color: #278aed; border-color: #278aed">Apply</button>
	</div>
	</div>

	
	</div>

	<div class="card" style="padding: 16px;">
		
		<div class="card">
			<div class="card-body">
				<div style="width: 100%; display: grid; margin: 0 auto">
					
						<div class="header-tools" style="display: grid; width: 100%; margin: 0 auto; 
						justify-content: flex-end; font-size: 20px; color: #278aed">[MANAGE PRESENCE]</div>
						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Name</div>
								<div><input type="text" class="form-control" value="" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">IP / Domain</div>
								<div><input type="text" class="form-control" value="" /></div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Reconnect</div>
								<div><input type="text" class="form-control" value="30" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Port</div>
								<div><input type="text" class="form-control" style="width: 70px;" value="" /></div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Max Retries</div>
								<div><input type="text" class="form-control" value="3" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Fallback</div>
								<div class="select">
									<select name="format" id="format">
										{% for items in outgoing_federation_json_data %} 
										<option >{{items['FallBack']}}</option>
										
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div  style="padding: 5px; text-align: right;">
							<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">Apply</button>
						</div>
					
				</div>
			</div>
		</div>
		</div>


	</div>
	
		
	
</div>




</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
var ip = "204.48.30.216";
var socket = io.connect(`http://${ip}:19023`);

// this gets current server data
async function establishConnection() {
	console.log("Make connection");
//	var socket = io.connect(`http://${ip}:19023`);


	console.log("Emit event authenticate...");

	let isAuth = await authenticate(socket);

	if (isAuth === "True") {
		getServiceInfo(socket);
		
	} else {
		// throw error
	}
}

const authenticate = (socket) => {
		// socket.emit('authenticate',  '{"Authenticate": "a@v{5]MQU><waQ;Z"}');
		socket.emit("authenticate", JSON.stringify({ Authenticate: "a@v{5]MQU><waQ;Z" }));

		return new Promise(function (resolve, reject) {
			socket.on("authentication", function (data) {
				let authenticateObject = JSON.parse(data);

				if (authenticateObject.successful === "True") {
					resolve("True");
				} else {
					reject("False");
				}
			});
		});
	};

const getServiceInfo = (socket) => {
	
	socket.emit("serviceInfo");
	socket.on("serviceInfoUpdate", function (data) {
		let serviceInfoObject = JSON.parse(data);
		console.log("Print CONFIGURE serviceInfoUpdate Response:" + JSON.stringify(serviceInfoObject));

		document.getElementById("tcp_cot_port").value = serviceInfoObject.services.TCP_CoT_service.port;
		document.getElementById("ssl_cot_port").value = serviceInfoObject.services.SSL_CoT_service.port;
		
		document.getElementById("http_dp_port").value = serviceInfoObject.services.TCP_DataPackage_service.port;
		document.getElementById("ssl_dp_port").value = serviceInfoObject.services.SSL_DataPackage_service.port;
		
		document.getElementById("api_port").value = serviceInfoObject.services.Rest_API_service.port;
		document.getElementById("fed_port").value = serviceInfoObject.services.Federation_server_service.port;

		document.getElementById("ip").value = serviceInfoObject.ip;

		
		if(serviceInfoObject.services.TCP_CoT_service.status == "on") {
			document.getElementById("TCPCoTOnOffSwitch").checked = true;
		} else {
			document.getElementById("TCPCoTOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.SSL_CoT_service.status == "on") {
			document.getElementById("SSLCoTOnOffSwitch").checked = true;
		} else {
			document.getElementById("SSLCoTOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.TCP_DataPackage_service.status == "on") {
			document.getElementById("HTTPDPOnOffSwitch").checked = true;
		} else {
			document.getElementById("HTTPDPOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.SSL_DataPackage_service.status == "on") {
			document.getElementById("SSLDPOnOffSwitch").checked = true;
		} else {
			document.getElementById("SSLDPOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.Rest_API_service.status == "on") {
			document.getElementById("APIOnOffSwitch").checked = true;
		} else {
			document.getElementById("APIOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.Federation_server_service.status == "on") {
			document.getElementById("FEDOnOffSwitch").checked = true;
		} else {
			document.getElementById("FEDOnOffSwitch").checked = false;
		}


	});
	
};



const applyServiceInfo = () => {

	

let obj =	{
   "services": {
       "SSL_CoT_service": {
                     "status": document.getElementById("SSLCoTOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("ssl_cot_port").value
                 },
       "TCP_CoT_service": {
                     "status": document.getElementById("TCPCoTOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("tcp_cot_port").value
                 },
       "SSL_DataPackage_service": {
                     "status": document.getElementById("SSLDPOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("ssl_dp_port").value
                 },
       "TCP_DataPackage_service": {
                     "status": document.getElementById("HTTPDPOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("http_dp_port").value
                 },
       "Federation_server_service": {
                     "status": document.getElementById("FEDOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("fed_port").value
                 },
       "Rest_API_service": {
                     "status": document.getElementById("APIOnOffSwitch").checked === true ? "on" : "off",
                     "port": document.getElementById("api_port").value
                 }
   },
   "IP": document.getElementById("ip").value
}

	var socket = io.connect(`http://${ip}:19023`);

	debugger;
	socket.emit("serviceInfo", JSON.stringify(obj) );
	socket.on("serviceInfoUpdate", function (data) {
		let serviceInfoObject = JSON.parse(data);
		console.log("Print CONFIGURE serviceInfoUpdate Response:" + JSON.stringify(serviceInfoObject));

		document.getElementById("tcp_cot_port").value = serviceInfoObject.services.TCP_CoT_service.port;
		document.getElementById("ssl_cot_port").value = serviceInfoObject.services.SSL_CoT_service.port;
		
		document.getElementById("http_dp_port").value = serviceInfoObject.services.TCP_DataPackage_service.port;
		document.getElementById("ssl_dp_port").value = serviceInfoObject.services.SSL_DataPackage_service.port;
		
		document.getElementById("api_port").value = serviceInfoObject.services.Rest_API_service.port;
		document.getElementById("fed_port").value = serviceInfoObject.services.Federation_server_service.port;

		document.getElementById("ip").value = serviceInfoObject.ip;

		
		if(serviceInfoObject.services.TCP_CoT_service.status == "on") {
			document.getElementById("TCPCoTOnOffSwitch").checked = true;
		} else {
			document.getElementById("TCPCoTOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.SSL_CoT_service.status == "on") {
			document.getElementById("SSLCoTOnOffSwitch").checked = true;
		} else {
			document.getElementById("SSLCoTOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.TCP_DataPackage_service.status == "on") {
			document.getElementById("HTTPDPOnOffSwitch").checked = true;
		} else {
			document.getElementById("HTTPDPOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.SSL_DataPackage_service.status == "on") {
			document.getElementById("SSLDPOnOffSwitch").checked = true;
		} else {
			document.getElementById("SSLDPOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.Rest_API_service.status == "on") {
			document.getElementById("APIOnOffSwitch").checked = true;
		} else {
			document.getElementById("APIOnOffSwitch").checked = false;
		}

		if(serviceInfoObject.services.Federation_server_service.status == "on") {
			document.getElementById("FEDOnOffSwitch").checked = true;
		} else {
			document.getElementById("FEDOnOffSwitch").checked = false;
		}


	});
	
};


// missing FederationServerService



</script>
<script>
	establishConnection();
</script>
{% endblock javascripts %}
<!-- color: #3ea1ec;
border-color: #3ea1ec; -->
