{% extends "base-site.html" %} {% block title %} Connect {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Connect code here -->

<div class="row">
	<div style="display: grid; width: 90%; margin: 0 auto">
		<div class="card">
			<div class="card-body">
				<div style="width: 80%; display: grid; margin: 0 auto">
					<form>
						<div class="header-tools" style="display: grid; justify-content: flex-end; font-size: 20px; color: #278aed">[Send COT]</div>
						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Name</div>
								<div><input type="text" class="form-control" value="John" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Attitude</div>
								<div class="select">
									<select name="format" id="format">
										<option selected>Select a Value</option>
										<option value="Friend">Friend</option>
										<option value="Friendly">Friendly</option>
										<option value="Hostile">Hostile</option>
										<option value="Unknown">Unknown</option>
										<option value="Pending">Pending</option>
										<option value="Assumed">Assumed</option>
										<option value="Neutral">Neutral</option>
										<option value="Suspect">Suspect</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Longitude</div>
								<div><input type="text" class="form-control" value="-77.0104" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">GeoObject</div>
								<div class="select">
									<select name="format" id="format">
										<option selected>Select a Value</option>
										<option value="Gnd Combat Infantry Rifleman">Gnd Combat Infantry Rifleman</option>
										<option value="Gnd Combat Infantry Grenadier">Gnd Combat Infantry Grenadier</option>
										<option value="Gnd Combat Infantry Mortar">Gnd Combat Infantry Mortar</option>
										<option value="Gnd Combat Infantry MachineGunner(LMG)">Gnd Combat Infantry MachineGunner(LMG)</option>
										<option value="Gnd Combat Infantry Medic">Gnd Combat Infantry Medic</option>
										<option value="Gnd Combat Infantry Sniper">Gnd Combat Infantry Sniper</option>
										<option value="Gnd Combat Infantry Recon">Gnd Combat Infantry Recon</option>
										<option value="Gnd Combat Infantry anti Tank">Gnd Combat Infantry anti Tank</option>
										<option value="Gnd Combat Infantry air defense">Gnd Combat Infantry air defense</option>
										<option value="Gnd Combat Infantry Engineer">Gnd Combat Infantry Engineer</option>
										<option value="Ground">Ground</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Latitude</div>
								<div><input type="text" class="form-control" value="38.889" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Timeout</div>
								<div><input type="number" class="form-control" value="600" /></div>
							</div>
						</div>

						<div style="background-color: #27293d; padding: 10px 0px; display: grid; justify-content: end">
							<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- ======= Header tools ======= -->
		<div class="card">
			<div class="header-tools" style="display: grid; padding: 10px 100px; justify-content: flex-end; font-size: 20px; color: #278aed">
				[Emergency]
			</div>
			<!-- ======= Table ======= -->
			<div class="datatable-container" style="width: 90%">
				<table class="datatable">
					<thead>
						<tr>
							<th style="font-size: 16px; color: #b5b5b5">Name</th>
							<th style="font-size: 16px; color: #b5b5b5">Latitude</th>
							<th style="font-size: 16px; color: #b5b5b5">Longitude</th>
							<th style="font-size: 16px; color: #b5b5b5">Type</th>
							<th style="font-size: 16px; color: #b5b5b5">UID</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td style="font-size: 14px; opacity: 0.8">Team 1</td>
							<td style="font-size: 14px; opacity: 0.8">38.889</td>
							<td style="font-size: 14px; opacity: 0.8">-77.0134</td>
							<td style="font-size: 14px; opacity: 0.8">911 Alert</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
						</tr>

						<tr>
							<td style="font-size: 14px; opacity: 0.8">Team 1</td>
							<td style="font-size: 14px; opacity: 0.8">38.889</td>
							<td style="font-size: 14px; opacity: 0.8">-77.0134</td>
							<td style="font-size: 14px; opacity: 0.8">911 Alert</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
						</tr>
						<tr>
							<td style="font-size: 14px; opacity: 0.8">Team 1</td>
							<td style="font-size: 14px; opacity: 0.8">38.889</td>
							<td style="font-size: 14px; opacity: 0.8">-77.0134</td>
							<td style="font-size: 14px; opacity: 0.8">911 Alert</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
						</tr>

						<tr>
							<td style="font-size: 14px; opacity: 0.8">Team 1</td>
							<td style="font-size: 14px; opacity: 0.8">38.889</td>
							<td style="font-size: 14px; opacity: 0.8">-77.0134</td>
							<td style="font-size: 14px; opacity: 0.8">911 Alert</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
							<td style="font-size: 14px; opacity: 0.8">Text</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ======= Footer tools ======= -->
			<div class="footer-tools" style="background-color: #27293d; padding: 16px 0px 16px 50px">
				<button class="btn btn-simple btn-twitter" style="color: #278aed80; border-color: #278aed80">DELETE</button>
				&nbsp;&nbsp;&nbsp;
				<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">ADD</button>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div style="width: 80%; display: grid; margin: 0 auto">
					<form>
						<div class="header-tools" style="display: grid; justify-content: flex-end; font-size: 20px; color: #278aed">[Team Member]</div>
						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Name</div>
								<div><input type="text" class="form-control" value="Doe" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Role</div>
								<div class="select">
									<select name="format" id="format">
										<option selected>Select a Value</option>
										<option value="Team Member">Team Member</option>
										<option value="Team Lead">Team Lead</option>
										<option value="HQ">HQ</option>
										<option value="Sniper">Sniper</option>
										<option value="Medic">Medic</option>
										<option value="Forward Observer">Forward Observer</option>
										<option value="RTO">RTO</option>
										<option value="K9">K9</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Longitude</div>
								<div><input type="text" class="form-control" value="-77.0104" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Team</div>
								<div class="select">
									<select name="format" id="format">
										<option selected>Select a Value</option>
										<option value="Yellow">Yellow</option>
										<option value="Red">Red</option>
										<option value="Blue">Blue</option>
										<option value="Orange">Orange</option>
										<option value="Magenta">Magenta</option>
										<option value="Maroon">Maroon</option>
										<option value="Purple">Purple</option>
										<option value="Dark Blue">Dark Blue</option>
										<option value="Cyan">Cyan</option>
										<option value="Teal">Teal</option>
										<option value="Green">Green</option>
										<option value="Dark Green">Dark Green</option>
										<option value="Brown">Brown</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Latitude</div>
								<div><input type="text" class="form-control" value="38.889" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Timeout</div>
								<div>
									<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">Send</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div style="width: 80%; display: grid; margin: 0 auto">
					<form>
						<div class="header-tools" style="display: grid; justify-content: flex-end; font-size: 20px; color: #278aed">[Message]</div>
						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div>
									<textarea
										name="comment"
										class="form-control"
										style="
											max-height: 80px !important;
											padding: 10px !important;
											resize: none !important;
											border: 1px solid #2b3553 !important;
											border-radius: 0 !important;
											line-height: 2 !important;
											width: 500px !important;
										"
										form="usrform"
									>
The server will shutdown in 5 minutes...</textarea
									>
								</div>
							</div>
						</div>

						<div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: center; padding: 10px 0px">
							<div style="display: grid; grid-template-columns: 1fr 1fr; align-items: center">
								<div style="font-size: 16px; color: #b5b5b5">Sender</div>
								<div><input type="text" class="form-control" value="Admin" /></div>
							</div>

							<div style="display: grid; grid-template-columns: 1fr; justify-items: flex-end">
								<div>
									<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">Send</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<!-- color: #3ea1ec;
border-color: #3ea1ec; -->
