{% extends "base-site.html" %}


<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
	<!-- ... existing HTML ... -->

	<!-- <div id="like_button_container"></div> -->
	<div id="like1"></div>
	<!-- ... existing HTML ... -->

	<div style="padding: 0px 0px 10px 0px; font-size: 20px; color: #278AED;">
		[SYSTEM STATUS]
	</div>
		<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 100%; gap: 10px;">
			<div class="card" style="display: grid; grid-template-columns: 1fr 1fr;">
				<div style="display: grid; grid-column: 1/-1; padding: 5px;">	<h3 class="card-title" style="color: #278AED;"> Data Package</h3></div>
				<div class="case_container">
					<div class="e7">
						<div class="semi_arc_3 e5_1">
							<div class="semi_arc_3 e5_2">
								<div class="semi_arc_3 e5_3">
									<div class="semi_arc_3 e5_4"></div>
								</div>
							</div>
						</div>
						<div class="core2">TCP</div>
					</div>
				</div>

				<div class="r_case_container">
					<div class="r_e7">
						<div class="r_semi_arc_3 r_e5_1">
							<div class="r_semi_arc_3 r_e5_2">
								<div class="r_semi_arc_3 r_e5_3">
									<div class="r_semi_arc_3 r_e5_4"></div>
								</div>
							</div>
						</div>
						<div class="r_core2">SSL</div>
					</div>
				</div>
			</div>
			<div class="card" style="display: grid; grid-template-columns: 1fr 1fr;">
				<div style="display: grid; grid-column: 1/-1; padding: 5px;">	<h3 class="card-title" style="color: #278AED;"> API & Federations</h3></div>
				<div class="g_case_container">
					<div class="g_e7">
						<div class="g_semi_arc_3 g_e5_1">
							<div class="g_semi_arc_3 g_e5_2">
								<div class="g_semi_arc_3 g_e5_3">
									<div class="g_semi_arc_3 g_e5_4"></div>
								</div>
							</div>
						</div>
						<div class="g_core2">TCP</div>
					</div>
				</div>

				<div class="case_container">
					<div class="e7">
						<div class="semi_arc_3 e5_1">
							<div class="semi_arc_3 e5_2">
								<div class="semi_arc_3 e5_3">
									<div class="semi_arc_3 e5_4"></div>
								</div>
							</div>
						</div>
						<div class="core2">SSL</div>
					</div>
				</div>
			</div>
			<div class="card" style="display: grid; grid-template-columns: 1fr 1fr;">
				<div style="display: grid; grid-column: 1/-1; padding: 5px;">	<h3 class="card-title" style="color: #278AED;"> COT</h3></div>
				<div class="case_container">
					<div class="e7">
						<div class="semi_arc_3 e5_1">
							<div class="semi_arc_3 e5_2">
								<div class="semi_arc_3 e5_3">
									<div class="semi_arc_3 e5_4"></div>
								</div>
							</div>
						</div>
						<div class="core2">TCP</div>
					</div>
				</div>

				<div class="case_container">
					<div class="e7">
						<div class="semi_arc_3 e5_1">
							<div class="semi_arc_3 e5_2">
								<div class="semi_arc_3 e5_3">
									<div class="semi_arc_3 e5_4"></div>
								</div>
							</div>
						</div>
						<div class="core2">SSL</div>
					</div>
				</div>
			</div>
		
		</div>

		<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 100%; gap: 10px;">

		<div >
			<div class="card card-stats">
			  <div class="card-body">
				<div style="display: grid; grid-template-columns: 1fr 3fr;">
				  <div >
					<div class="info-icon text-center icon-warning">
					  <i class="tim-icons icon-time-alarm" style="font-size: 40px; color: #278AED""></i>
					</div>
				  </div>
				  <div >
					<div class="numbers">
					  <p class="card-category" style="font-size: 0.8rem;">[UP TIME]</p>
					  <h3 class="card-title">14H 7M 34S</h3>
					</div>
				  </div>
				</div>
			  </div>
			 
			</div>
		  </div>
		  <div >
			<div class="card card-stats">
			  <div class="card-body">
				<div style="display: grid; grid-template-columns: 1fr 3fr;">
				  <div >
					<div class="info-icon text-center icon-warning">
						<i class="tim-icons icon-user-run" style="font-size: 40px; color: #278AED""></i>
					</div>
				  </div>
				  <div >
					<div class="numbers">
					  <p class="card-category" style="font-size: 0.8rem;">[START TIME]</p>
					  <h3 class="card-title" id="start-time">15/12/2020 20: 24 UCT</h3>
					</div>
				  </div>
				</div>
			  </div>
			 
			</div>
		  </div>
		  <div >
			<div class="card card-stats">
			  <div class="card-body">
				<div style="display: grid; grid-template-columns: 1fr 3fr;">
				  <div >
					<div class="info-icon text-center icon-warning">
						<i class="tim-icons icon-support-17" style="font-size: 40px; color: #278AED"></i>
					</div>
				  </div>
				  <div >
					<div class="numbers">
					  <p class="card-category" style="font-size: 0.8rem;">[CONNECTED CLIENTS]</p>
					  <h3 class="card-title">8</h3>
					</div>
				  </div>
				</div>
			  </div>
			 
			</div>
		  </div>
		</div>
		
		<div style="padding: 0px 0px 10px 0px; font-size: 20px; color: #278AED;">
			[HEALTH]
		</div>
		<div style="display: grid; grid-template-columns: 1fr 1fr; width: 100%; gap: 20px;">
			<div>
				<div id="chart"></div>
			</div>
			<div >
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Logs</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table tablesorter" id="">
								<thead class="text-primary">
									<tr>
										<th>Time</th>
										<th>Level</th>
										<th>Text</th>
										<th class="text-center">Column</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>15:25</td>
										<td>ERROR</td>
										<td>ERROR1</td>
										<td class="text-center">Text</td>
									</tr>
									<tr>
										<td>15:25</td>
										<td>ERROR</td>
										<td>ERROR1</td>
										<td class="text-center">Text</td>
									</tr>
									<tr>
										<td>15:25</td>
										<td>ERROR</td>
										<td>ERROR1</td>
										<td class="text-center">Text</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	

    
    

{% endblock content %}
<!-- http://204.48.30.216:19023 -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script>
    //the ip or dns which the FTS instances REST api is accessible
    var ip = '204.48.30.216'
    var now = moment();
    console.log("time now " + now.format("DD-MM-YYYY"));

    
   
    // this gets current server data
    async function establishConnection() {
      console.log('Make connection')
      var socket = io.connect(`http://${ip}:19023`);

      console.log('Emit event authenticate...');
      
      let isAuth = await authenticate(socket);

      if(isAuth === 'True') {
        getUsers(socket);
        getLogs(socket);
        getServiceInfo(socket);
        getServerHealth(socket);
        getSystemStatus(socket);
      } else {
        // throw error
      }

      
    }


    const authenticate = (socket) => {
      // socket.emit('authenticate',  '{"Authenticate": "a@v{5]MQU><waQ;Z"}');
      socket.emit('authenticate',  JSON.stringify({"Authenticate": "a@v{5]MQU><waQ;Z"}));
      
      return new Promise(function (resolve, reject) {

        socket.on('authentication', function (data) {
          let authenticateObject = JSON.parse(data);
          
          if(authenticateObject.successful === "True") {
            resolve("True");
          } else {
            reject("False");
          }

        });

      });

     
    }

   
    const getUsers = (socket) => {
      socket.emit('users');
       socket.on('userUpdate', function (data) {
        let userObject = JSON.parse(data);
        console.log('Print 1 users Response:' + JSON.stringify(userObject));
      });
    }

    const getLogs = (socket) => {
      socket.emit('logs');
       socket.on('logUpdate', function (data) {
        let logsObject = JSON.parse(data);
        console.log('Print 2 logs Response:' + JSON.stringify(logsObject));
      });

    }

    const getServiceInfo = (socket) => {

     // setInterval(() => { 
        socket.emit('serviceInfo');
        socket.on('serviceInfoUpdate', function (data) {
        let serviceInfoObject = JSON.parse(data);
        console.log('Print 3 serviceInfoUpdate Response:' + JSON.stringify(serviceInfoObject));
        
      });
 //     }, 3000);
    }

    const getServerHealth = (socket) => {
      socket.emit('serverHealth');
       socket.on('serverHealthUpdate', function (data) {
        let serverHealthObject = JSON.parse(data);
        console.log('Print 4 serverHealthUpdate Response:' + JSON.stringify(serverHealthObject));
      });
    }

    const getSystemStatus = (socket) => {
      socket.emit('systemStatus');
       socket.on('systemStatusUpdate', function (data) {
        let systemStatusObject = JSON.parse(data);
        console.log('Print 5 systemStatusUpdate Response:' + JSON.stringify(systemStatusObject));
      });
    }




  </script>
  <script>
    establishConnection();
  </script>
 

{% endblock javascripts %}
