{% extends "base-site.html" %} {% block title %} Mission {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- mission code here -->

<div style="width: 90%; display: grid; padding: 5px; margin: 0 auto; background-color: #27293d">
	<div class="header-tools" style="justify-self: flex-end; font-size: 20px; padding-right: 20px; color: #278aed">[DATA PACKAGE]</div>

	<div style="width: 100%; padding: 5px">
		<div
			style="
				display: grid;
				grid-template-columns: 100px 240px 150px 50px 120px 100px 1fr;
				gap: 10px;
				padding: 10px;
				font-size: 16px;
				color: #fff;
				opacity: 0.9;
			"
		>
			<div style="color: #fff; font-weight: 600; padding: 5px">Keywords</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Name</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Author</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Index</div>
			<div style="color: #fff; font-weight: 600; padding: 5px; text-align: center">Is Private</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Size (KB)</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Submitted</div>
		</div>
		<div style="max-height: 300px; overflow-y: scroll">
			{% for dict_items in json_data %} {% if loop.index == 1 %} {% endif %}

			<div
				class="row-color-nohover row-class"
				style="display: grid; grid-template-columns: 100px 240px 150px 50px 120px 100px 1fr; gap: 10px; padding: 10px; color: #fff; opacity: 0.8"
				onclick="captureClick('{{dict_items.Hash}}')"
			>
				<div >{{dict_items['Keywords']}}</div>
				<div >
					<div onclick="downloadFile('{{dict_items.Hash}}')" >
						<span style="cursor: pointer; color: #278aed;">
							{{dict_items['Name']}}
						</span>
						
					</div>
					</div>
				<div >
					{{dict_items['SubmissionUser'] | replace("[", "") | replace("(", "") | replace("'", "") | replace("'", "") | replace(")", "") | replace("]",
					"") | replace(",", "") }}
				</div>
				<div  style="text-align: center">{{dict_items['PrimaryKey']}}</div>

				<div style="text-align: center">
					<input style="padding: 3px;" onclick='handlePrivacy(this, "{{dict_items.PrimaryKey}}");' type="checkbox" {{'checked' if
					dict_items['Privacy'] == 1 else ''}} />
				</div>

				<div  style="text-align: right; padding-right: 10px">{{dict_items['Size'] /1000}}</div>
				<div >{{dict_items['SubmissionDateTime']}}</div>
			</div>

			{% endfor %}
		</div>
	</div>

	<div class="footer-tools" style="background-color: #27293d; padding: 16px 16px 16px 50px; display: grid; grid-template-columns: 1fr 1fr">
		<div>
			<div
				class="btn btn-simple btn-twitter"
				id="data-package-delete"
				onclick="deleteDataPackage()"
				style="color: #278aed80; border-color: #278aed; color: #278aed; display: inline-flex"
			>
				<span>DELETE</span> <span id="del-count">&nbsp;</span>
			</div>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-simple btn-twitter" onclick="onSelectFile()" style="color: #278aed; border-color: #278aed">ADD</button>
		</div>
		<div style="display: grid; grid-template-columns: 1fr 40px">
			<div><input type="text" id="filename" readonly class="form-control" value="" /></div>
			<label for="fileinput" class="custom-file-upload"> ... </label>
			<input id="fileinput" type="file" />
		</div>
	</div>
</div>

<br /><br />

<div style="width: 90%; display: grid; padding: 5px; margin: 0 auto; background-color: #27293d">
	<div class="header-tools" style="justify-self: flex-end; font-size: 20px; padding-right: 20px; color: #278aed">[MISSION]</div>
 
	<div style="max-width: 100%; padding: 5px; display: contents">
		<div style="max-height: 300px; max-width: 100%; overflow-y: scroll; overflow-x: scroll; display: table-cell">
			<div
			style="
				display: grid;

				grid-template-columns: 100px 240px 240px 240px 240px 240px;
				padding: 10px;
				font-size: 16px;
				color: #fff;
				opacity: 0.9;
			"
		>
			<div style="color: #fff; font-weight: 600; padding: 5px">Name</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Description</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Keywords</div>

			<div style="color: #fff; font-weight: 600; padding: 5px">Creator</div>
			<div style="color: #fff; font-weight: 600; padding: 5px">Groups</div>

			<div>Created</div>
		</div>
			{% if  mission_json_data | length == 0 %}
		
			<div style="padding: 10px; font-size: 14px;">No Records Found</div>
			{% endif %}

			{% for items in mission_json_data %} 
			
			

			<div
				class="row-color-nohover row-class"
				style="display: grid; grid-template-columns: 100px 240px 240px 240px 240px 240px; padding: 10px; color: #fff; opacity: 0.8"
			>
				<div>{{items['name']}}</div>
				<div>{{items['description']}}</div>
				<div>{{items['keywords']}}</div>
				<div>{{items['creatorUid']}}</div>
				<div>{{items['groups']}}</div>
				<div>{{items['createTime']}}</div>
			</div>

			{% endfor %}
		</div>
	</div>

	<div class="footer-tools" style="background-color: #27293d; justify-items: end;
	padding: 16px 16px 16px 50px; display: grid; grid-template-columns: 1fr">
		<div>
			<div class="btn btn-simple btn-twitter" id="data-package-delete" style="color: #278aed; border-color: #278aed; display: inline-flex">
				<span>DELETE</span> <span id="del-count">&nbsp;</span>
			</div>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">ADD</button>
		</div>
	</div>
</div>
<br /><br />
<div style="width: 90%; display: grid; padding: 5px; margin: 0 auto; background-color: #27293d">
	<div class="header-tools" style="justify-self: flex-end; font-size: 20px; padding-right: 20px; color: #278aed">[EXCHECK]</div>

	<div style="max-width: 100%; padding: 5px; display: contents">
		<div style="max-height: 300px; max-width: 100%; overflow-y: scroll; overflow-x: scroll; display: table-cell">
			{% for items in excheck_json_data %} {% if loop.index == 1 %}
			<div
				style="
					display: grid;

					grid-template-columns: 200px 240px 240px 200px 200px 200px;
					padding: 10px;
					font-size: 16px;
					color: #fff;
					opacity: 0.9;
				"
			>
				<div>Name</div>
				<div>Submitter</div>
				<div>Type</div>

				<div>Size</div>
				<div>Submitted</div>

				<div>&nbsp;</div>
			</div>
			{% endif %}
			<div
				class="row-color-nohover row-class"
				style="display: grid; grid-template-columns: 200px 240px 240px 200px 200px 200px; padding: 10px; color: #fff; opacity: 0.8"
			>
				<div>{{items['name']}}</div>
				<div>{{items['submitter'] | replace("[", "") | replace("(", "") | replace("'", "") | replace("'", "") | replace(")", "") | replace("]",
					"") | replace(",", "")}}</div>
				<div>{{items['filename']}}</div>
				<div>{{items['size']}}</div>
				<div>{{items['submissionTime']}}</div>
				<div>&nbsp;</div>
			</div>

			{% endfor %}
		</div>
	</div>

	<div class="footer-tools" style="background-color: #27293d; justify-items: end;
	padding: 16px 16px 16px 50px; display: grid; grid-template-columns: 1fr">
		<div>
			<div class="btn btn-simple btn-twitter" id="data-package-delete" style="color: #278aed; border-color: #278aed; display: inline-flex">
				<span>DELETE</span> <span id="del-count">&nbsp;</span>
			</div>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-simple btn-twitter" style="color: #278aed; border-color: #278aed">ADD</button>
		</div>
	</div>
</div>
<br /><br />
<div style="width: 90%; display: grid; padding: 5px; margin: 0 auto; background-color: #27293d">
	<div class="header-tools" style="justify-self: flex-end; font-size: 20px; padding-right: 20px; color: #278aed">[OUTGOING FEDERATIONS]</div>
	<div style="max-width: 100%; padding: 5px; display: contents"">
		<div style="max-height: 300px; max-width: 100%; overflow-y: scroll; overflow-x: scroll; display: table-cell">

			<div
			style="
				display: grid;

				grid-template-columns: 200px 240px 240px 200px 200px 200px 200px 200px;
				padding: 10px;
				font-size: 16px;
				color: #fff;
				opacity: 0.9;
			"
		>
			<div>Name</div>
			<div>Address</div>
			<div>Port</div>
			<div>Fallback</div>

			<div>Status</div>
			<div>Rec. Interval</div>

			<div>Max Retries</div>

			<div>Last Error</div>
		</div>
		
		{% if  outgoing_federation_json_data |count == 0 %}

		<div style="font-size: 14px; padding: 10px;">No Records Found</div>

{% endif %}

			{% for items in outgoing_federation_json_data %}
		
			<div
				class="row-color-nohover row-class"
				style="display: grid; grid-template-columns: 200px 240px 240px 200px 200px 200px 200px 200px; padding: 10px; color: #fff; opacity: 0.8"
			>
				<div>{{items['name']}}</div>
				<div>{{items['address']}}</div>
				<div>{{items['port']}}</div>
				<div>{{items['fallback']}}</div>
				<div>{{items['status']}}</div>
				<div>{{items['reconnectInterval']}}</div>
				<div>{{items['maxRetries']}}</div>
				<div>{{items['lastError']}}</div>
			</div>

			{% endfor %}
		</div>
	</div>
	<div class="footer-tools" style="background-color: #27293d; justify-items: end;
	padding: 16px 16px 16px 50px; display: grid; grid-template-columns: 1fr">
		<div>
			<div class="btn btn-simple btn-twitter" id="data-package-delete" style="color: #278aed; border-color: #278aed; display: inline-flex">
				<span>DELETE</span> <span id="del-count">&nbsp;</span>
			</div>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-simple btn-twitter" onclick="addToggle('addOF')"
			style="color: #278aed; border-color: #278aed">ADD</button>
		</div>
	</div>

	
	<div style="display: none" id="addOF">
		<div style="display: grid; width: 80%; padding: 10px 0px; margin: 0 auto; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 20px">
			<div><input type="text" class="form-control" id="nameof" value="" placeholder="Name" /></div>
			<div><input type="text" class="form-control" id="ipaddressof" value="" placeholder="IP Address" /></div>
			<div><input type="text" class="form-control" id="portof" value="" placeholder="Port" /></div>
			<div>&nbsp;</div>
			

			<div style="font-size: 16px; color: #b5b5b5; line-height: 40px">Fallback Server</div>
			<div class="select" style="width: 200px">
				<select name="format" id="fallbackserverof">
					{% for items in outgoing_federation_json_data %} 
						<option >{{items['Name']}}</option>
					{% endfor %}
				</select>
			</div>

			<div style="font-size: 16px; color: #b5b5b5; line-height: 40px; 
			    display: grid;
    grid-column: 3/-1;"
			>
			<div style="display: flex; align-items: center;">
				<div>Status&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="select" style="width: 120px">
					<select name="format" id="statusof">
						<option selected value="Enabled">Enabled</option>
						<option value="Disabled">Disabled</option>
					</select>
				</div>
			</div>
			
			</div>
			

			<div><input type="text" class="form-control" id="maxretriesof" value="" placeholder="Max Retries" /></div>
			<div><input type="text" class="form-control" id="recintervalof" value="" placeholder="Rec Interval" /></div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>

		</div>
		<div style="background-color: #27293d; padding: 10px 20px; display: grid; justify-content: end">
			<button class="btn btn-simple btn-twitter" onclick="addOF()" style="color: #278aed; border-color: #278aed">Submit</button>
		</div>
	</div>


</div>

<div id="snackbar">&nbsp;</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- arr.some(item => item.a === 'b') -->
<!-- const updatedHero = hero.filter(item => item.id !== 1); -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
	var ip = "204.48.30.216";
var socket = io.connect(`http://${ip}:19023`);

var tcpip;
var tcpport;

async function establishConnection() {
	console.log("Make connection");
//	var socket = io.connect(`http://${ip}:19023`);


	console.log("Emit event authenticate...");

	let isAuth = await authenticate(socket);

	if (isAuth === "True") {
		getServiceInfo(socket);
		
	} else {
		// throw error
	}
}

const authenticate = (socket) => {
			// socket.emit('authenticate',  '{"Authenticate": "a@v{5]MQU><waQ;Z"}');
			socket.emit("authenticate", JSON.stringify({ Authenticate: "a@v{5]MQU><waQ;Z" }));

			return new Promise(function (resolve, reject) {
				socket.on("authentication", function (data) {
					let authenticateObject = JSON.parse(data);

					if (authenticateObject.successful === "True") {
						resolve("True");
					} else {
						reject("False");
					}
				});
			});
		};

	// this is a global variable
	var gArr;
	var updatedGARR;
	// var obj = {key1: "value1", key2: "value2"};
	function captureClick(param) {
		if (!gArr.some((item) => item.hash === param)) {
			let vv = { hash: param };
			gArr.push(vv);
		} else {
			gArr = gArr.filter((item) => item.hash !== param);
		}

		// classList
		if (gArr.length > 0) {
			document.getElementById("del-count").innerHTML = `&nbsp;[${gArr.length}]`;
			document.getElementById("data-package-delete").classList.add("btn", "btn-simple", "btn-twitter", "enable-delete");
		} else {
			document.getElementById("del-count").innerHTML = ``;
			document.getElementById("data-package-delete").classList.add("btn", "btn-simple", "btn-twitter", "disable-delete");
		}
	}


	function downloadFile(param) {
		
		let url = `http://${tcpip}:${tcpport}/Marti/api/sync/metadata/${param}/tool`;

		window.location = url;
		
		// window.open(url,'mywin',"width="+screen.availWidth+",height="+screen.availHeight);
	}

	const getServiceInfo = (socket) => {
    
    socket.emit("serviceInfo");
    socket.on("serviceInfoUpdate", function (data) {
        let serviceInfoObject = JSON.parse(data);
        console.log("Print CONFIGURE serviceInfoUpdate Response:" + JSON.stringify(serviceInfoObject));
    
        tcpport = serviceInfoObject.services.TCP_DataPackage_service.port;
    
        tcpip  = serviceInfoObject.ip;
    });
    
};

	function snackFunction(message) {
		// Get the snackbar DIV
		var x = document.getElementById("snackbar");
		document.getElementById("snackbar").textContent = message;

		// Add the "show" class to DIV
		x.className = "show";

		// After 3 seconds, remove the show class from DIV
		setTimeout(function () {
			x.className = x.className.replace("show", "");
		}, 3000);
	}

	// Select your input type file and store it in a variable
	const input = document.getElementById("fileinput");

	// This will upload the file after having read it
	const upload = (file) => {
		if (file === undefined) {
			snackFunction("Select a file to Add");
			return false;
		}

		if (document.getElementById("filename").value == "") {
			snackFunction("Select a file to Add");
			return false;
		}

		if (!checkExtn(file.name)) {
			return false;
		}

		if(file.size > 15360000) {
			snackFunction("Max 15 MB file allowed to upload");
			return false;
		}
		

		var formData = new FormData();
		formData.append("assetfile", file);

		headers = { Authorization: "Bearer a@v{5]MQU><waQ;Z", Connection: "Keep-Alive" };

		fetch(`http://204.48.30.216:19023/DataPackageTable?filename=${file.name}&creator`, {
			method: "POST",
			headers: headers,
			body: formData,
		})
			.then(
				(response) => {
				
				if(response.status === 200) {
					snackFunction("Add Datapackage Success. Refreshing data!");
				document.getElementById("filename").value = "";
				refresh();
				} else {
					snackFunction("Add Datapackage Failed. Contact Adminstrator!");
					document.getElementById("filename").value = "";
					refresh();
				}
				
				}
				
			)
			.catch((error) => {
				console.log("log error.." + error);
				snackFunction("Add Datapackage Failed. Contact Administrator!");
				document.getElementById("filename").value = "";
				refresh();
			});
	};

	// Event handler executed when a file is selected
	const onSelectFile = () => upload(input.files[0]);

	// Add a listener on your input
	// It will be triggered when a file will be selected
	// input.addEventListener('change', onSelectFile, false);

	document.getElementById("fileinput").addEventListener("change", function () {
		document.getElementById("filename").value = input.files[0].name;
		// checkExtn(input.files[0].name);
	});

	function checkExtn(filename) {
		let extn = filename.substring(filename.lastIndexOf(".") + 1, filename.length) || filename;

		if (extn === "zip" || extn === "gz" || extn === "rar") {
			return true;
		} else {
			snackFunction("Only Zip files allowed.");
			return false;
		}
	}

	function deleteDataPackage() {
		if (gArr.length > 0) {
			let newMap = gArr.map((e) => {
				return "hash" + e;
			});
		}

		headers = { Authorization: "Bearer a@v{5]MQU><waQ;Z" };
		fetch("http://204.48.30.216:19023/DataPackageTable", {
			method: "DELETE",
			headers: headers,
			body: JSON.stringify({
				DataPackages: gArr,
			}),
		}).then((response) => {
			console.log("delete response...");
			response.json();
			console.log("delete response...XX " + response.json());
			snackFunction("Delete Successful. Refreshing data.");
			refresh();
		});
	}

	
	function addOF() {
		let obj =  {
		outgoingFederations:[{
				name: document.getElementById("nameof").value,
				address: document.getElementById("ipaddressof").value,
				port: document.getElementById("portof").value,
				fallBack: document.getElementById("fallbackserverof").value,
				status: document.getElementById("statusof").value,
				reconnectInterval: document.getElementById("recintervalof").value,
				maxRetries: document.getElementById("maxretriesof").value,
			}]
		} 

		headers = { Authorization: "Bearer a@v{5]MQU><waQ;Z" };
		fetch("http://204.48.30.216:19023/FederationTable", {
			method: "POST",
			headers: headers,
			body: JSON.stringify(obj),
		}).then((response) => {
			
			snackFunction("Add Outgoing Federation Successful. Refreshing data.");
			refresh();
		});

	}


	$(document).ready(function () {
		console.log("hell");

		$(".row-class").on("click", function () {
			$(this).toggleClass("rowselected");
		});
	});

	function refresh() {
		setTimeout(function () {
			location.reload(true);
		}, 3000);
	}

	function jsfunction() {
		//you code
		return false;
	}

	function handlePrivacy(cb, primarykey) {
		
		let obj = {
			DataPackages: [{ PrimaryKey: primarykey, Privacy: cb.checked === true ? "1" : "0" }],
		};
		
		headers = { Authorization: "Bearer a@v{5]MQU><waQ;Z" };
		fetch("http://204.48.30.216:19023/DataPackageTable", {
			method: "PUT",
			headers: headers,
			body: JSON.stringify(obj),
		}).then((response) => {
			response.json();
			console.log("privacy updated " + response.json());
			snackFunction("Privacy updated. Refreshing data.");
			refresh();
		});
	}


	function addToggle(param) {
		var x = document.getElementById(param);
		if (x.style.display === "none") {
			x.style.display = "block";
			x.style.padding = "10px 0px";
		} else {
			x.style.display = "none";
		}
	}


</script>
<script>
	$(window).on("load", function () {
		console.log("window loaded");
		gArr = [];
	});
</script>

<script>
    establishConnection();
</script>


{% endblock javascripts %}
<!-- color: #3ea1ec;
border-color: #3ea1ec; -->

<!-- {
    "DataPackages":[
       {"hash": "194728885783f87ws84888943fjew"},
       {"hash": "19472mw45783f7ws848758943fjegr"}
    ]
    } -->

<!-- https://stackoverflow.com/questions/36067767/how-do-i-upload-a-file-with-the-js-fetch-api -->
