
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">&nbsp;</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">

            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
              &nbsp;
              </li>
              <li class="dropdown nav-item" id="events-info">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block" id="notif" style="display: none;"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>

                

                <!-- <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul> -->
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <i class="tim-icons icon-single-02"></i>
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="/page-user" class="nav-item dropdown-item">Profile</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href={{ url_for('base_blueprint.logout') }} class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
            {% endif %}

          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            &nbsp;
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->

      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script>
        //the ip or dns which the FTS instances REST api is accessible
        var ip = "204.48.30.216";
        
    
        // this gets current server data
        async function establishConnection() {
          console.log("Make connection");
          var socket = io.connect(`http://${ip}:19023`);
          
    
          console.log("Emit event authenticate...");
    
          let isAuth = await authenticate1(socket);
    
          if (isAuth === "True") {
            getEventsInfo(socket);
            
    
          } else {
            // throw error
          }
        }
    
        const authenticate1 = (socket) => {
          // socket.emit('authenticate',  '{"Authenticate": "a@v{5]MQU><waQ;Z"}');
          socket.emit("authenticate", JSON.stringify({ Authenticate: "a@v{5]MQU><waQ;Z" }));
    
          return new Promise(function (resolve, reject) {
            socket.on("authentication", function (data) {
              let authenticateObject = JSON.parse(data);
    
              if (authenticateObject.successful === "True") {
                resolve("True");
              } else {
                reject("False");
              }
            });
          });
        };

        const getEventsInfo = (socket) => {
			
			socket.emit("events");
			socket.on("eventsUpdate", function (data) {
     
        let eventsArr = data.events;
        if(eventsArr.lenght > 0) {
          document.getElementById("notif").style.display = "block";
        } else {
          document.getElementById("notif").style.display = "none";
        }

        let ul = document.createElement("ul");
        ul.className = "dropdown-menu dropdown-menu-right dropdown-navbar";
        document.getElementById("events-info").appendChild(ul);
        

        for (let [index, row] of eventsArr.entries()) {
          var li = document.createElement("li");  
    li.className = "nav-link";

    var a = document.createElement("a");
    a.className = "nav-item dropdown-item";
    a.innerHTML =  row ;

    li.appendChild(a);
    ul.appendChild(li);

        }

				//console.log("Notification serviceInfoUpdate Response:" + JSON.stringify(serviceInfoObject));
			});
			
    };
    

</script>    

      <script>
        establishConnection();
      </script>

<!-- {
  "events": ["server event 1", "server event 2", "server event 3", "server event 4", "server event 5"]
} -->

   <!-- <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul> -->