:root {
	--primary-color: white;
	--secondary-color: #323242;
	--highlight-color: #2b2d3d;

	--dt-status-available-color: greenyellow;
	--dt-status-away-color: lightsalmon;
	--dt-status-offline-color: lightgray;

	--dt-padding: 12px;
	--dt-padding-s: 6px;
	--dt-padding-xs: 2px;

	--dt-border-radius: 3px;

	--dt-background-color-container: #27293d;
	--dt-border-color: var(--secondary-color);
	--dt-bg-color: var(--highlight-color);
	--dt-text-color: var(--primary-color);
	--dt-bg-active-button: var(--highlight-color);
	--dt-text-color-button: var(--primary-color);
	--dt-text-color-active-button: var(--primary-color);
	--dt-hover-cell-color: var(--highlight-color);
	--dt-even-row-color: var(--secondary-color);
	--dt-focus-color: var(--highlight-color);
	--dt-input-background-color: var(--secondary-color);
	--dt-input-color: var(--primary-color);
}

.material-icons {
	font-size: 16px;
}

.datatable-container {
	font-family: sans-serif;
	background-color: var(--dt-background-color-container);
	border-radius: var(--dt-border-radius);
	color: var(--dt-text-color);
	/* max-width: 1140px;
    min-width: 950px; */
	display: grid;
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
}

.datatable-container .header-tools {
	border-bottom: solid 1px var(--dt-border-color);
	padding: var(--dt-padding);
	padding-left: 0;
	display: flex;
	align-items: baseline;
}

.datatable-container .header-tools .search {
	width: 30%;
}

.datatable-container .header-tools .search .search-input {
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	background-color: var(--dt-input-background-color);
	display: block;
	box-sizing: border-box;
	border-radius: var(--dt-border-radius);
	border: solid 1px var(--dt-border-color);
	color: var(--dt-input-color);
}

.datatable-container .header-tools .tools {
	width: 70%;
}

.datatable-container .header-tools .tools ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	align-items: baseline;
}

.datatable-container .header-tools .tools ul li {
	display: inline-block;
	margin: 0 var(--dt-padding-xs);
	align-items: baseline;
}

.datatable-container .footer-tools {
	padding: var(--dt-padding);
	display: flex;
	align-items: baseline;
}

.datatable-container .footer-tools .list-items {
	width: 50%;
}

.datatable-container .footer-tools .pages {
	margin-left: auto;
	margin-right: 0;
	width: 50%;
}

.datatable-container .footer-tools .pages ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li {
	display: inline-block;
	margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
	color: var(--dt-text-color-button);
	width: 100%;
	box-sizing: border-box;
	border: 0;
	border-radius: var(--dt-border-radius);
	background: transparent;
	cursor: pointer;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover {
	background: var(--dt-bg-active-button);
	color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li span.active {
	background-color: var(--dt-bg-color);
	border-radius: var(--dt-border-radius);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button {
	padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable {
	border-collapse: collapse;
	width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
	padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th {
	font-weight: bolder;
	text-align: left;
	border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td {
	border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even) {
	background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover {
	background-color: var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after {
	display: inline-block;
	vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after {
	content: "Online";
	color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::after {
	content: "Away";
	color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::after {
	content: "Offline";
	color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before {
	background-color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::before {
	background-color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::before {
	background-color: var(--dt-status-offline-color);
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 1px solid #2b3553 !important;
	background: #27293d;
	background-image: none;
	flex: 1;
	padding: 0 0.5em;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
	display: none;
}
.select {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #27293d;
	overflow: hidden;
	border-radius: 0.25em;
}
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: 0.25s all ease;
}
.select:hover::after {
	color: #23b499;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

label {
	display: -webkit-box;
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
	/* Accessible outline */
	/* Remove comment to use */
	/*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
}
label input {
	position: absolute;
	left: -9999px;
}
label input:checked + span {
	background-color: #6b6b6b;
}
label input:checked + span:before {
	box-shadow: inset 0 0 0 0.4375em #00005c;
}
label span {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 0.375em 0.75em 0.375em 0.375em;
	border-radius: 99em;
	-webkit-transition: 0.25s ease;
	transition: 0.25s ease;
}
label span:hover {
	background-color: #6b6b6b;
}
label span:before {
	display: -webkit-box;
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	-webkit-transition: 0.25s ease;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #00005c;
}
