.g_case_container {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	/* position: absolute; */
	/* margin-left: 20px;
	margin-top: 20px; */
}

.g_core2 {
	/* background: #cedce0; */
	width: 80px;
	height: 80px;

	border-radius: 50%;
	border: 5px solid rgba(144, 144, 144, 0.15);

	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	color: #ffffff;
}

.g_e7 {
	width: 95.25%;
	height: 95.25%;
	left: 2.5475%;
	right: 2.5475%;
	border: 6px solid transparent;
	background: transparent;

	border-radius: 50%;
	transform: rotateZ(0deg);
	transition: box-shadow 3s ease;
	text-align: center;
	line-height: 80px;
}

.g_semi_arc {
	width: 70px;
	height: 70px;
	border: 6px solid #2b8ef1;
	background: rgba(2, 254, 255, 0.2);

	border-radius: 50%;
	transform: rotateZ(0deg);
	transition: box-shadow 3s ease;
	text-align: center;
	line-height: 80px;
}

.g_semi_arc:hover {
	box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
	transition: 0.3s;
}

.g_semi_arc_2 {
	content: "";
	position: absolute;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	border: 5px solid #2b8ef1;

	border-radius: 50%;

	box-sizing: border-box;
	animation: rotate 4s linear infinite;
	text-align: center;
	line-height: 129px;
}

.g_semi_arc_2:after {
	content: "";
	position: absolute;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	border: 4px solid #2b8ef1;

	border-radius: 50%;

	box-sizing: border-box;
	animation: rotate_anti 2s linear infinite;
}

.g_semi_arc_3 {
	content: "";
	position: absolute;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	border: 5px solid #2b8ef1;

	border-radius: 50%;

	box-sizing: border-box;
	/* animation: rotate 4s linear infinite; */
	text-align: center;
	line-height: 129px;
}

.g_arc {
	width: 70px;
	height: 70px;
	border: 6px solid #2b8ef1;
	background: rgba(2, 254, 255, 0.2);

	border-radius: 50%;

	transform: rotateY(-30deg) translateZ(-200px);
	transform: rotateZ(0deg);
	transition: box-shadow 3s ease;
	text-align: center;
	line-height: 80px;
}

.g_arc:hover {
	box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
	transition: 0.3s;
}

.g_arc:after {
	content: "";
	position: absolute;
	width: 94%;
	height: 94%;
	left: 3%;
	top: 3%;
	border: 4px solid #2b8ef1;

	border-radius: 50%;

	box-sizing: border-box;
	animation: rotate 4s linear infinite;
}

.g_e1:after {
	border-color: rgba(2, 172, 255, 0.6);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.g_e2:after {
	border-color: rgba(2, 172, 255, 0.6);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.g_e3 {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	animation: rotate 5s linear infinite;
}

.g_e3:after {
	border-color: rgba(2, 172, 255, 0.6);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.g_e4 {
	width: 120px;
	height: 120px;
}

.g_e4_1 {
	border-color: rgba(2, 172, 255, 0.3);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.g_e4_1:after {
	border-color: rgba(2, 172, 255, 0.6);
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.g_e5 {
	width: 170px;
	height: 170px;
}

.g_e5_1 {
	color: rgba(144, 144, 144, 0.15);
	border: 2px solid;
	border-left: 2px solid transparent;
	/* animation: rotate 5s linear infinite; */
}

.g_e5_2 {
	color: rgba(144, 144, 144, 0.7);
	border: 4px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	/* animation: rotate_anti 4s linear infinite; */
}

.g_e5_3 {
	color: rgba(144, 144, 144, 0.5);
	border: 2px solid;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	/* animation: rotate 3s linear infinite; */
}

.g_e5_4 {
	color: rgba(144, 144, 144, 0.15);
	border: 4px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	/* animation: rotate_anti 2s linear infinite; */
}

.g_e6 {
	border-color: transparent;
	background: rgba(255, 255, 255, 0);
	width: 170px;
	height: 170px;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
@keyframes rotate_anti {
	0% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
@keyframes colour_ease {
	0% {
		border-color: #2b8ef1;
	}
	50% {
		border-color: rgba(2, 254, 255, 0.5);
	}
	100% {
		border-color: #2b8ef1;
	}
}

@keyframes colour_ease2 {
	0% {
		background: #2b8ef1;
	}
	50% {
		background: rgba(2, 254, 255, 0.3);
	}
	100% {
		background: #2b8ef1;
	}
}

.example {
	float: left;
	margin: 10px;
}

.dinesh {
	color: red;
}
