<div class="sidebar" style="background-color: #27293d">
	<div class="sidebar-wrapper" style="background-color: #27293d">
		<div style="display: grid; justify-content: center; align-content: center; padding: 8px 8px 0px 8px">
			<img src="/static/assets/img/FreeTakServer3.png" width="150px" alt="FreeTak Server" />
		</div>

		<ul class="nav">
			{% if current_user.is_authenticated %}
			<li class="{% if 'index' in segment %} active {% endif %}">
				<a href="/">
					<i class="tim-icons icon-components"></i>
					<p style="font-size: 16px">Home</p>
				</a>
			</li>
			<li class="{% if 'webmap' in segment %} active {% endif %}">
				<a href="/webmap">
					<i class="tim-icons icon-world"></i>
					<p style="font-size: 16px">Webmap</p>
				</a>
			</li>
			<li class="{% if 'mission' in segment %} active {% endif %}">
				<a href="/mission">
					<i class="tim-icons icon-spaceship"></i>
					<p style="font-size: 16px">Mission</p>
				</a>
			</li>
			<li class="{% if 'users' in segment %} active {% endif %}">
				<a href="/users">
					<i class="tim-icons icon-single-02"></i>
					<p style="font-size: 16px">User</p>
				</a>
			</li>
			<li class="{% if 'connect' in segment %} active {% endif %}">
				<a href="/connect">
					<i class="tim-icons icon-vector"></i>
					<p style="font-size: 16px">Connect</p>
				</a>
			</li>
			<li class="{% if 'configure' in segment %} active {% endif %}">
				<a href="/configure">
					<i class="tim-icons icon-settings-gear-63"></i>
					<p style="font-size: 16px">Configure</p>
				</a>
			</li>
			<li class="{% if 'about' in segment %} active {% endif %}">
				<a href="/about">
					<i class="tim-icons icon-light-3"></i>
					<p style="font-size: 16px">About</p>
				</a>
			</li>

			{% else %} {% endif %}
		</ul>
	</div>
</div>
